.form {
  width:70%;
  margin: 10px auto;
  font-size: 1.5em;
}

.form__line {
  padding: 10px 15px;
  display: flex;
  align-items: center;
}

.form__submit {
  margin: 5px 10px;
  font-size: 1em;

  &--reset {
    margin-left: 0;
  }
}

.form__text {
  margin: 5px 10px;
  padding: 5px 15px;
  font-size: 1em;
}