.header {

}

.header__title {
  text-align: center;
}

.header__info {
  display: flex;
  justify-content: flex-end;
  margin-right: 10%;
  font-size: 1.25em;
}

.header__info dd {
  margin-bottom: 5px;
  text-align: right;
}