.request {
  width:70%;
  margin:5% auto;
  font-size: 1.5em;
  overflow:hidden;
  border:1px solid #d3d3d3;
  background:#fefefe;
}

.request th,
.request td {
  padding:18px 28px 18px;
  text-align:center;
}

.request th {
  padding-top:22px;
  text-shadow: 1px 1px 1px #fff;
  background:#e8eaeb;
}

.request td {
  border-top:1px solid #e0e0e0;
  border-right:1px solid #e0e0e0;
}

.request tr.odd-row td {
  background:#f6f6f6;
}

.request td.last {
  border-right:none;
}

